  <div>Welcome to {{title}}, enable camera to post video emoji!</div>
  <div id="waiting">Connecting to chat server...</div>
  <div id="second_counter"></div>
  <div id="conversation"></div>
  <div id="submission">
    <input type="text" placeholder="say something..">
  </div>
  <div id="webcam_stream"></div>
  <div id="video_container"></div>
  <div id="build_memory">
  Build a memory.
  <button id="make_memory_button">Build!</button>
  <div id="memory_builder_container"></div>
  </div>