  <div>Welcome to {{title}}, enable camera to post video emoji!</div>
  <div id="waiting">Connecting to chat server...</div>
  <div id="second_counter"></div>
  <div id="conversation"></div>
  <div id="submission">
    <input type="text" placeholder="say something..">
  </div>
  <div id="webcam_stream"></div>
  <div id="video_container"></div>
  <div id="build_memory">
  Make a memory together! The more emoticons you use, the better! (You need at least one.)
  <button id="make_memory_button" style="visibility:hidden">Go!</button>
  <div id="memory_builder_container"></div>
  </div>