  <div>Welcome to {{title}}, enable camera to post video emoji!</div>
  <div id="waiting">Connecting to chat server...</div>
  <div id="second_counter" style="display:none;"></div>
  <div id="titlebar">
    <p>CS 247 Videobooth</p>
  </div>
  <div id="webcam_stream"></div>
  <div id="video_container"></div>
  <!-- build_memory_wrapper -->
  <div id="entire_memory_wrapper"></div>
  <!--<div id="build_memory">
    <div><button id="make_memory_button">Build!</button></div>
    <div id="memory_builder_container"></div>
  </div>-->
  <div id="conversation"></div>
  <div id="submission">
    <input type="text" placeholder="say something..">
  </div>
