body {
  margin: 0px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}
@media only screen and (max-width: 999px) {
  /* rules that only apply for canvases narrower than 1000px */
  video {
    width: 165px;
  }
}
#keep_memory_link {
  margin-top: 10px;
}
#standalone-title {
  -webkit-transform: rotate(-30deg);
  padding-right: 30px;
  font: 100 47px/1.2 'Pacifico', Helvetica, sans-serif;
}
#in-strip-title {
  font: 100 30px/1.2 'Pacifico', Helvetica, sans-serif;
}
#make_memory_button {
  padding: 10px;
  border-radius: 2px;
  margin-top: 10px;
}
#memory_builder {
  text-align: center;
  margin: auto 0;
}
#memory_builder .first-panel {
  width: 200px;
  height: 193px;
  color: white;
  vertical-align: center;
  background-color: lightblue;
  display: inline-block;
  margin-left: 2%;
  background: #efc5ca;
  background: -webkit-radial-gradient(center, ellipse cover, #efc5ca 0%, #ff6c36 50%, #ff384f 51%, #3300ff 100%);
  background: radial-gradient(ellipse at center, #efc5ca 0%, #ff6c36 50%, #ff384f 51%, #3300ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efc5ca', endColorstr='#3300ff', GradientType=1);
}
#memory_builder .first-panel h3 {
  color: #2b2b2b;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1), 7px 7px 0px rgba(0, 0, 0, 0.05);
  margin-top: 15px;
  margin-bottom: 10px;
}
#memory_builder .panel_wrapper {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-left: 2%;
}
#memory_builder .panel_wrapper video {
  width: 200px;
}
#memory_builder .panel_wrapper .panel .memory_message {
  font-family: 'Gochi Hand', cursive;
  font-size: 12px;
  display: block;
}
a {
  color: #00B7FF;
}
.vid_wrapper {
  height: 100%;
}
#titlebar {
  position: fixed;
  text-align: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 45px;
  background-color: #dddddd;
}
#titlebar p {
  width: 75%;
  display: inline-block;
  font-size: medium;
  font-weight: bold;
  color: #666666;
}
#build_memory {
  display: block;
  height: auto;
  margin-top: 10px;
  vertical-align: top;
  width: 100%;
  padding-bottom: 50px;
}
#build_memory #memory_builder_container {
  width: 100%;
  height: 192px;
  -webkit-border-image: url(borders/film-cutout.png) 27 repeat stretch;
  border-style: solid;
  border-width: 30px 0px;
}
#mem_bkgd img {
  height: 290px;
  width: 100%;
  vertical-stretch: 20%;
  height: auto;
}
.annotation {
  border: 1px black;
  font-size: 12px;
  position: relative;
  height: 40px;
  background-color: white;
  overflow: auto;
  max-height: 42px;
  max-width: 200px;
}
#chatbox {
  padding-top: 200px;
  display: block;
  height: 50%;
}
#webcam_stream {
  margin: 0 auto;
  position: absolute;
  /* margin-bottom: 68px; */
  right: 0px;
  padding: 0;
  width: 169px;
  z-index: 1;
  bottom: 0px;
}
#webcam_stream video {
  border: 2px solid #dcc;
}
#second_counter {
  position: fixed;
  top: 20px;
  right: 20px;
  color: white;
  z-index: 999;
}
#conversation {
  /* padding: 0px 0px 60px 0px; */
  width: 100%;
  position: absolute;
  /* height: 400px; */
  /* min-height: 200px; */
  margin-left: 0px;
  bottom: 72px;
  overflow-y: auto;
  vertical-align: top;
  display: inline-block;
  top: 296px;
}
.msg {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 0px;
}
.msgtext {
  padding-left: 10%;
  padding-right: 5%;
  padding-bottom: 7px;
  border-bottom: 1px;
  margin: 0 auto;
  width: 85%;
  margin-bottom: 0px;
}
#submission {
  position: fixed;
  width: 85%;
  border-top: 2px solid #dcc;
  border-bottom: 1px solid #818181;
  background: #fff;
  left: 0;
  bottom: 0;
}
#submission input {
  border: none;
  font-size: 15px;
  padding: 15px;
  outline: none;
  box-sizing: border-box;
  width: 100%;
}
#waiting {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #292929;
  color: white;
  text-align: center;
  padding: 50px 0;
}
.effect {
  /* Drawn from http://bennettfeely.com/filters/*/
}
.effect.sepia {
  -webkit-filter: sepia(100%);
}
.effect.brightness {
  -webkit-filter: brightness(250%);
}
.effect.highcontrast {
  -webkit-filter: contrast(400%) brightness(600%);
}
.effect.highsaturate {
  -webkit-filter: saturate(4);
}
.effect.huerotate {
  -webkit-filter: contrast(200%) hue-rotate(300deg);
}
.effect.tint {
  -webkit-filter: sepia(1) contrast(150%) hue-rotate(200deg);
}
.effect.invert {
  -webkit-filter: invert(100%);
}
