body {
  margin: 10px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#memory_builder {

  .panel_wrapper {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 200px; /* This needs to match the width of the video, set in templateHtml! */
    padding: 10px
    border: 1px solid #555;
    .panel {
      .memory_message {
        display: block;
      }
    }
  }
}

a {
  color: #00B7FF;
}

#webcam_stream{
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  video{
    border: 2px solid #dcc;
  }
}

#second_counter{
  position: fixed;
  top: 20px;
  right: 20px;
  color: white;
  z-index: 999;
}

#conversation{
  padding: 10px 10px 80px;
  overflow-y: scroll;
  height: 100%;
}

#submission{
  position: fixed;
  bottom: 0;
  width: 100%;
  right: 0;
  border-top: 2px solid #dcc;
  background: #fff;

  input{
    border: none;
    font-size: 15px;
    padding: 15px;
    outline: none;
    box-sizing: border-box;
    width: 100%;
  }
}

#waiting{
  position:fixed;
  height:100%;
  width:100%;
  top: 0;
  left: 0;
  background: #292929;
  color:white;
  text-align: center;
  padding: 50px 0;
}

.effect {
  /* Drawn from http://bennettfeely.com/filters/*/
  // &.grayscale {
  //   // -webkit-filter: contrast(140%) grayscale(90%);
  //   -webkit-filter: grayscale(1) brightness(0.75) contrast(1.05);
  // }
  &.sepia {
    -webkit-filter: sepia(100%);
  }
  &.brightness {
    -webkit-filter: brightness(250%);
  }
  &.highcontrast {
    -webkit-filter: contrast(400%) brightness(600%);
  }
  &.highsaturate {
    -webkit-filter: saturate(4);
  }
  &.huerotate {
    -webkit-filter: contrast(200%) hue-rotate(300deg)
  }
  // &.blur {
  //     -webkit-filter: blur(3px);
  //     filter: blur(5px);
  // }
  &.tint {
    // -webkit-filter: sepia(1) hue-rotate(200deg);
    -webkit-filter: sepia(1) contrast(150%) hue-rotate(200deg);
  }
  &.invert {
    -webkit-filter: invert(100%);
  }
}














