

body {
  margin: 0px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  height:100%;
}

#memory_builder {
  height:95%;
  margin: auto 0;
  .panel_wrapper {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-left:1.5%;
    height:100%;
    //width: 18.5%; /* This needs to match the width of the video, set in templateHtml! */
    .panel {
      height:100%;
      .memory_message {

        display: block;
      }
    }
  }
}

a {
  color: #00B7FF;
}

.vid_wrapper {
  height:100%;
}

#titlebar {
  position:fixed;
  text-align:center;
  top:0px;
  left:0px;
  width:100%;
  height:45px;
  background-color:#dddddd;
}

#titlebar p {
  width:75%;
  display:inline-block;
  font-size:medium;
  font-weight:bold;
  color:#666666;
}

#build_memory {
  margin-top:29px;
  position:fixed;
  background-color:white;
  display:block;
  height:auto;
  height: 40%;
  width:100%;
  padding-bottom:50px;
}

#memory_builder_container {
  position:fixed;
  width:100%;
  padding-left:20%;
  height:30%;
  -webkit-border-image: url(borders/film-cutout.png) 27 repeat stretch;
  border-style:solid;
  border-width: 17px 0px
}

#mem_bkgd img {
  height:290px;
  width:100%;
  vertical-stretch:20%;
  height:auto;
}

.annotation {
  border:1px black;
  font-size:10px;
  position:relative;
  top:-10%;
  background-color:white;
}

#chatbox {
  // position:relative;
  padding-top:200px;
  display:block;
  height: 50%;
  // top:330px;
}

#webcam_stream{
  margin:0 auto;
  position: fixed;
  bottom:0px;
  right: 0px;
  padding: 0;
  width:15%;
  video{
    border: 2px solid #dcc;
  }
}

#second_counter{
  position: fixed;
  top: 20px;
  right: 20px;
  color: white;
  z-index: 999;
}

#conversation{
  padding: 30% 0px 60px 0px;
  width:85%;
  height: 100%;
  margin-left: 0px;
  overflow-y: auto;
  vertical-align:top;
  display:inline-block;
}

.msg {
  padding-left:5%;
  padding-right:5%;
  padding-top:10px;
  padding-bottom:10px;
  border-bottom:1px;
  margin: 0 auto;
  width: 90%;
  margin-bottom:0px;
}

.msgtext {
  padding-left:10%;
  padding-right:5%;
  padding-top:10px;
  padding-bottom:10px;
  border-bottom:1px;
  margin: 0 auto;
  width: 85%;
  margin-bottom:0px;
}

#submission{
  position:fixed;
  width: 85%;
  border-top: 2px solid #dcc;
  border-bottom: 1px solid #818181;
  background: #fff;
  left: 0;
  bottom: 0;

  input{
    border: none;
    font-size: 15px;
    padding: 15px;
    outline: none;
    box-sizing: border-box;
    width: 100%;
  }
}

#waiting{
  position:fixed;
  height:100%;
  width:100%;
  top: 0;
  left: 0;
  background: #292929;
  color:white;
  text-align: center;
  padding: 50px 0;
}

.effect {
  /* Drawn from http://bennettfeely.com/filters/*/
  // &.grayscale {
  //   // -webkit-filter: contrast(140%) grayscale(90%);
  //   -webkit-filter: grayscale(1) brightness(0.75) contrast(1.05);
  // }
  &.sepia {
    -webkit-filter: sepia(100%);
  }
  &.brightness {
    -webkit-filter: brightness(250%);
  }
  &.highcontrast {
    -webkit-filter: contrast(400%) brightness(600%);
  }
  &.highsaturate {
    -webkit-filter: saturate(4);
  }
  &.huerotate {
    -webkit-filter: contrast(200%) hue-rotate(300deg)
  }
  // &.blur {
  //     -webkit-filter: blur(3px);
  //     filter: blur(5px);
  // }
  &.tint {
    // -webkit-filter: sepia(1) hue-rotate(200deg);
    -webkit-filter: sepia(1) contrast(150%) hue-rotate(200deg);
  }
  &.invert {
    -webkit-filter: invert(100%);
  }
}














