body {
  margin: 0px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}
#memory_builder {
  margin: auto 0;
}
#memory_builder .panel_wrapper {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
#memory_builder .panel_wrapper .panel .memory_message {
  display: block;
}
a {
  color: #00B7FF;
}
.vid_wrapper {
  height: 100%;
}
#titlebar {
  position: fixed;
  text-align: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 45px;
  background-color: #dddddd;
}
#titlebar p {
  width: 75%;
  display: inline-block;
  font-size: medium;
  font-weight: bold;
  color: #666666;
}
#build_memory {
  display: block;
  height: auto;
  vertical-align: top;
  width: 100%;
  padding-bottom: 50px;
}
#build_memory #memory_builder_container {
  width: 100%;
  height: 180px;
  -webkit-border-image: url(borders/film-cutout.png) 27 repeat stretch;
  border-style: solid;
  border-width: 30px 0px;
}
#mem_bkgd img {
  height: 290px;
  width: 100%;
  vertical-stretch: 20%;
  height: auto;
}
.annotation {
  border: 1px black;
  font-size: 10px;
  position: relative;
  top: -10%;
  background-color: white;
}
#chatbox {
  padding-top: 200px;
  display: block;
  height: 50%;
}
#webcam_stream {
  margin: 0 auto;
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 0;
  width: 15%;
}
#webcam_stream video {
  border: 2px solid #dcc;
}
#second_counter {
  position: fixed;
  top: 20px;
  right: 20px;
  color: white;
  z-index: 999;
}
#conversation {
  /* padding: 0px 0px 60px 0px; */
  background-color: #d7d5ff;
  width: 100%;
  position: absolute;
  /* height: 400px; */
  /* min-height: 200px; */
  margin-left: 0px;
  bottom: 72px;
  overflow-y: auto;
  vertical-align: top;
  display: inline-block;
  top: 285px;
}
.msg {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 0px;
}
.msgtext {
  padding-left: 10%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px;
  margin: 0 auto;
  width: 85%;
  margin-bottom: 0px;
}
#submission {
  position: fixed;
  width: 85%;
  border-top: 2px solid #dcc;
  border-bottom: 1px solid #818181;
  background: #fff;
  left: 0;
  bottom: 0;
}
#submission input {
  border: none;
  font-size: 15px;
  padding: 15px;
  outline: none;
  box-sizing: border-box;
  width: 100%;
}
#waiting {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #292929;
  color: white;
  text-align: center;
  padding: 50px 0;
}
.effect {
  /* Drawn from http://bennettfeely.com/filters/*/
}
.effect.sepia {
  -webkit-filter: sepia(100%);
}
.effect.brightness {
  -webkit-filter: brightness(250%);
}
.effect.highcontrast {
  -webkit-filter: contrast(400%) brightness(600%);
}
.effect.highsaturate {
  -webkit-filter: saturate(4);
}
.effect.huerotate {
  -webkit-filter: contrast(200%) hue-rotate(300deg);
}
.effect.tint {
  -webkit-filter: sepia(1) contrast(150%) hue-rotate(200deg);
}
.effect.invert {
  -webkit-filter: invert(100%);
}
