

body {
  margin: 0px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

@media only screen and (max-width: 999px) {
  /* rules that only apply for canvases narrower than 1000px */
  // todo http://foundation.zurb.com/docs/media-queries.html
  video {
    width: 165px;
  }
}


#memory_builder {
  // height:95%;
  text-align: center;
  margin: auto 0;
  .first-panel {
    width: 200px;
    height: 177px; // to match the videos
    color: white;
    vertical-align: center;
    background-color: lightblue;
    display: inline-block;
    margin-left: 2%;
    // from http://www.cssmatic.com/gradient-generator
    background: rgba(239,197,202,1);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(239,197,202,1) 0%, rgba(255,108,54,1) 50%, rgba(255,56,79,1) 51%, rgba(51,0,255,1) 100%);
    background: radial-gradient(ellipse at center, rgba(239,197,202,1) 0%, rgba(255,108,54,1) 50%, rgba(255,56,79,1) 51%, rgba(51,0,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#3300ff', GradientType=1 );
  }
  .panel_wrapper {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-left: 2%;
    // height:100%;
    video {
      width: 200px;
    }
    //width: 18.5%; /* This needs to match the width of the video, set in templateHtml! */
    .panel {
      // height:100%;
      .memory_message {

        display: block;
      }
    }
  }
}

a {
  color: #00B7FF;
}

.vid_wrapper {
  height:100%;
}

#titlebar {
  position:fixed;
  text-align:center;
  top:0px;
  left:0px;
  width:100%;
  height:45px;
  background-color:#dddddd;
}

#titlebar p {
  width:75%;
  display:inline-block;
  font-size:medium;
  font-weight:bold;
  color:#666666;
}

#build_memory {
  // position:fixed;
  display:block;
  height:auto;
  // height: 40%;
  margin-top: 40px;
  vertical-align: top;
  width:100%;
  padding-bottom:50px;

  #memory_builder_container {
    // position:fixed;
    width:100%;
    // padding-left:20%;
    height: 192px;
    -webkit-border-image: url(borders/film-cutout.png) 27 repeat stretch;
    border-style:solid;
    border-width: 30px 0px
  }
}



#mem_bkgd img {
  height:290px;
  width:100%;
  vertical-stretch:20%;
  height:auto;
}

.annotation {
  border:1px black;
  font-size:10px;
  position:relative;
  // top:-10%;
  background-color:white;
  overflow: auto;
  max-height: 42px;
  max-width: 200px;
}

#chatbox {
  // position:relative;
  padding-top:200px;
  display:block;
  height: 50%;
  // top:330px;
}

#webcam_stream{
  margin: 0 auto;
  position: absolute;
  /* margin-bottom: 68px; */
  right: 84px;
  padding: 0;
  width: 100px;
  z-index: 1;
  bottom: 77px;
  video{
    border: 2px solid #dcc;
  }
}

#second_counter{
  position: fixed;
  top: 20px;
  right: 20px;
  color: white;
  z-index: 999;
}

#conversation{
  /* padding: 0px 0px 60px 0px; */
  width: 100%;
  position: absolute;
  /* height: 400px; */
  /* min-height: 200px; */
  margin-left: 0px;
  bottom: 72px;
  overflow-y: auto;
  vertical-align: top;
  display: inline-block;
  top: 294px;
}

.msg {
  padding-left:5%;
  padding-right:5%;
  padding-top:10px;
  padding-bottom:10px;
  border-bottom:1px;
  margin: 0 auto;
  width: 90%;
  margin-bottom:0px;
}

.msgtext {
  padding-left:10%;
  padding-right:5%;
  padding-bottom:7px;
  border-bottom:1px;
  margin: 0 auto;
  width: 85%;
  margin-bottom:0px;
}

#submission{
  position:fixed;
  width: 85%;
  border-top: 2px solid #dcc;
  border-bottom: 1px solid #818181;
  background: #fff;
  left: 0;
  bottom: 0;

  input{
    border: none;
    font-size: 15px;
    padding: 15px;
    outline: none;
    box-sizing: border-box;
    width: 100%;
  }
}

#waiting{
  position:fixed;
  height:100%;
  width:100%;
  top: 0;
  left: 0;
  background: #292929;
  color:white;
  text-align: center;
  padding: 50px 0;
}

.effect {
  /* Drawn from http://bennettfeely.com/filters/*/
  // &.grayscale {
  //   // -webkit-filter: contrast(140%) grayscale(90%);
  //   -webkit-filter: grayscale(1) brightness(0.75) contrast(1.05);
  // }
  &.sepia {
    -webkit-filter: sepia(100%);
  }
  &.brightness {
    -webkit-filter: brightness(250%);
  }
  &.highcontrast {
    -webkit-filter: contrast(400%) brightness(600%);
  }
  &.highsaturate {
    -webkit-filter: saturate(4);
  }
  &.huerotate {
    -webkit-filter: contrast(200%) hue-rotate(300deg)
  }
  // &.blur {
  //     -webkit-filter: blur(3px);
  //     filter: blur(5px);
  // }
  &.tint {
    // -webkit-filter: sepia(1) hue-rotate(200deg);
    -webkit-filter: sepia(1) contrast(150%) hue-rotate(200deg);
  }
  &.invert {
    -webkit-filter: invert(100%);
  }
}














